<h1>My AC Mideterm Assessment</h1>

<% if user_signed_in? %>
    <%= link_to 'Create New Doctor', new_doctor_path %>
    <%= link_to 'Detailed Doctor Index', doctors_path %>
<% end %>
<br>
<table>
  <thead>
    LIST OF DOCTORS
  </thead>
  <tbody>
    <% Doctor.all.each do |doctor| %>
      <tr>
        <td><%= doctor.username %></td>
      </tr>
    <% end %>
  </tbody>
</table>
